*{
    margin: 0;
    padding: 0;
}

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,200;1,300&display=swap');

/* Head */
.logo {
    /*background-color:honeydew; */
    color: darkblue;
    font-family: 'Poppins', sans-serif;
}
/* fin de Head*/

/* Agregando animación a "bienvenidos" */
h1 {
    text-align: center;
    margin-top: 50px;   
    color: purple;
    font-size: 40px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 7px;    
}
h1 span {
    transition: 1s linear;
}
h1:hover span {
    text-shadow: 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff;
}
/* fin de bienvenidos */


/* body */
body {
    background-image: url(imagenes/fondo.jpg);
}
/* fin de body */

/* NAV */
nav {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.nav a{
    text-decoration: none; /* quita el subrayado de links */
    text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff;
}

nav li {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    background-color: darkcyan;
    margin: 5px; 
    padding: 10px; 
}

.nav:active{
    color: rgb(119, 238, 238);
    cursor: pointer;
}

/* fin de NAV */

/* index about */
.about {
    margin: 50px; 
    padding: 50px;
    font-family: 'Poppins', sans-serif;

    /* agregando GRID */
    display:grid;
    grid-template-columns: auto auto 1fr;
    gap: 20px;
}
/* fin de index about */

/* index about me  */
.aboutme p{
    font-size: 1rem;
    text-align: justify;
}
/* AGREGANDO ANIMACIÓN A LOS TITULOS DE INDEX */
h2 {
    text-align: justify;   
    color: black;
    font-size: 30px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;    
}
h2 span {
    transition: 1s linear;
}
h2:hover span {
    text-shadow: 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff;
}
/* FIN DE TITULOS */


/* .aboutme {
    border: 1px black solid;
} */

/* fin de index about me  */

/* index proyecto destacado */
.proyectod{
    margin: 50px; 
    padding: 50px; 
    font-family: 'Poppins', sans-serif;
}

.proyecto p{
    text-align: justify;
}
/* fin index proyecto destacado */


/* footer */
.rrss {
    text-align: center;
    margin: 100px; 
    padding: 100px;
}
/* fin de footer */

/* seccion about */
.aboutPadre {
    margin: 50px; 
    padding: 50px;
    font-family: 'Poppins', sans-serif;

    /* agregando GRID */
    display:grid;
    grid-template-columns: 1fr 1fr ;
    gap: 20px;
}
.aboutHijo p{
    display: flex;
    text-align: justify;
}
/* fin de sección about */


/* sección servicios */
.serviciosPadre {
    margin: 50px;
    padding: 50px;
    font-family: 'Poppins', sans-serif;

    /* AGREGANDO GRID */
    display: grid;
    row-gap: 2em;
}

.serviciosHijo p {
    display: flex;
    text-align: justify;
}
.serviciosImagen {
    display: flex;
    justify-content: center;
    width: 60%;
    max-width: 960px; 
    margin: 0 auto;
} 

/* fin sección servicios */

/* inicio sección Portafolio */
.portafolioPadre {
    margin: 50px;
    padding: 50px;
    font-family: 'Poppins', sans-serif;
}
.portafolioHijo-title {
    text-align: center;
}
.portafolioHijo {
        /* AGREGANDO GRID */
        display: grid; 
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
}

.portafolioHijo p {
    display: flex;
    text-align: justify;
}
/* fin sección portafolio */

/* inicio sección contacto */
.contacto{
    margin: 50px;
    padding: 50px;
    font-family: 'Poppins', sans-serif;
}
/* fin sección contacto */